{% extends "base.html" %}

{% block page_title %}
	Welcome to KM System
{% endblock %}

{% block page_content %}
<h1 class="page-header">Supplier List</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>PRODUCT</th>
                    <th>CONTACT</th>
                    <th>PHONE</th>
                    <th>FAX</th>
                    <th>REMARK</th>
                    <th>CREATE_BY</th>
                    <th>CREATE_DATE</th>
		    <th></th>
                </tr>
            </thead>
            <tbody>
		{% for list in supplier_list %}
                <tr>
                    <td>{{ list.id }}</td>
                    <td>{{ list.code  }}</td>
                    <td>{{ list.name  }}</td>
                    <td>{{ list.address  }}</td>
                    <td>{{ list.product  }}</td>
                    <td>{{ list.contact  }}</td>
                    <td>{{ list.phone  }}</td>
                    <td>{{ list.fax  }}</td>
                    <td>{{ list.remark  }}</td>
                    <td>{{ list.create_by  }}</td>
                    <td>{{ list.create_date  }}</td>
		    <td><a href="{% url 'supplier:detail' pk=list.id %}">Detail</a></td>
                </tr>
		{% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
