{% extends "base.html" %}
{% load pagination_tags %}

{% block page_title %}
	Welcome to KM System
{% endblock %}

{% block page_content %}
<h1 class="page-header">Supplier List</h1>
	<a href="{% url 'supplier:add' %}">Add New Supplier</a>
	<form action='' method="POST">{% csrf_token %}
		<input type="text" name="search" value="{{ query|escape }}">
		<input type="submit" value="Search">
	</form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>PRODUCT</th>
                    <th>CONTACT</th>
                    <th>PHONE</th>
                    <th>FAX</th>
                    <th>REMARK</th>
                    <th>CREATE_BY</th>
                    <th>CREATE_DATE</th>
		    <th></th>
                </tr>
            </thead>
            <tbody>
		{% autopaginate supplier_list 50%}
		{% for list in supplier_list %}
                <tr>
                    <td>{{ list.code  }}</td>
                    <td>{{ list.name  }}</td>
                    <td>{{ list.address  }}</td>
                    <td>{{ list.product  }}</td>
                    <td>{{ list.contact  }}</td>
                    <td>{{ list.phone  }}</td>
                    <td>{{ list.fax  }}</td>
                    <td>{{ list.remark  }}</td>
                    <td>{{ list.create_by  }}</td>
                    <td>{{ list.create_date  }}</td>
		    <td><a class="btn btn-default" href="{% url 'supplier:detail' pk=list.id %}">Detail</a></td>
                </tr>
		{% endfor %}
		{% paginate %}
            </tbody>
        </table>
    </div>

{% endblock %}
