{% extends "base.html" %}

{% block page_title %}
	Welcome to KM System
{% endblock %}

{% block page_content %}
<h1>Supplier List</h1>

    <form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">NO.</label>
		<div class="col-xs-2 col-sm-6">
		       <p class="form-control-static">{{ supplier.id }}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">CODE</label>
		<div class="col-xs-8 col-sm-6">
		       <input type="text" class="form-control" id="supplier_code" value="{{ supplier.code }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">NAME</label>
		<div class="col-xs-8 col-sm-10">
		       <input type="text" class="form-control" id="supplier_name" value="{{ supplier.name}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">ADDRESS</label>
		<div class="col-xs-8 col-sm-10">
		       <textarea class="form-control" rows=3 >{{ supplier.address}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">PRODUCT</label>
		<div class="col-xs-8 col-sm-6">
		       <input type="text" class="form-control" id="supplier_product" value="{{ supplier.product }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">CONTACT</label>
		<div class="col-xs-8 col-sm-6">
		       <input type="text" class="form-control" id="supplier_contact" value="{{ supplier.contact }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">PHONE</label>
		<div class="col-xs-8 col-sm-6">
		       <input type="text" class="form-control" id="supplier_phone" value="{{ supplier.phone }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">FAX</label>
		<div class="col-xs-8 col-sm-6">
		       <input type="text" class="form-control" id="supplier_fax" value="{{ supplier.fax }}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">REMARK</label>
		<div class="col-xs-8 col-sm-6">
			<textarea class="form-control" rows=3>{{ supplier.remark  }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">CREATE_BY</label>
		<div class="col-xs-8 col-sm-6">
		       <p class="form-control-static">{{ supplier.create_by }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 col-sm-2 control-label">CREATE_DATE</label>
		<div class="col-xs-8 col-sm-6">
		       <p class="form-control-static">{{ supplier.create_date }}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox1" value="{{ supplier.is_published }}"> Is Published </label>
	</div>
	<div class="form-group">
		<input type="submit" value="EDIT" class="col-xs-3 col-sm-3">
		<div class="col-xs-3 clo-sm-3">
			<button type="button" class="btn btn-default" href="{{ url 'delete' id}}">DELETE</button>
		</div>
	</div>
    </form>

{% endblock %}
